@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: forestgreen;
    padding-bottom: 100px;
    
}

header h1{
    text-align: center;
    color: white;
    padding-top: 20px;
}

header p{
    text-align: center;
    color: white;
    padding-top: 20px;
}

a{
    color: white;
    display: inline;
    text-decoration: none;
    justify-content: flex-start;
}

nav ul li{
    display: inline;
    color: white;
    

}